@import '../node_modules//toastr/build/toastr.min.css';

#toast-container > .toast-success {
  color: white;
  background-color: green 
}

#toast-container > .toast-error {
  color: white;
  background-color: red 
}